<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> ICE9 </title>
  <base href="/">
</head>
<body>
    <p>Welcome to our color therapy website. Visit our <a [routerLink]="['/Color-coordinate']"> Color Coordinate page</a> to get started or our <a [routerLink]="['/Color-selector']"> Color Selector page</a> to customize your color table and add new colors.</p>
    <p><img src="painting.jpg" cite="https://media.istockphoto.com/id/1125625188/photo/girl-painting-on-canvas.jpg?s=612x612&w=0&k=20&c=8KFcMjWjDXSyuBJvxykIOWeVKFLRlEsDqH771zDeXWE=" id="floatright">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nisl nunc, iaculis vel maximus ut, molestie non massa. In in varius eros. 
      Nulla gravida eros et ligula pharetra, id mattis erat ultrices. Etiam nec odio faucibus, vulputate nibh vel, facilisis nibh. Nullam tristique 
      sed odio lobortis pretium. Quisque varius molestie orci nec imperdiet. Nunc eu tellus ultrices, viverra tortor rutrum, fringilla erat. Morbi eu 
      facilisis tellus. Fusce convallis finibus eros a aliquet. Aenean ac ligula id ligula consectetur maximus ac id diam. Sed commodo rhoncus 
      lacus ac volutpat.</p>
    <p>Praesent mollis, arcu eu dignissim fringilla, felis justo convallis risus, a placerat nulla odio vel urna. In a ultrices quam. 
      Suspendisse eu nunc eros. Morbi eget congue dui, ac tempor dolor. Sed condimentum risus nec dolor pellentesque lacinia. Proin vel varius urna, 
      in facilisis purus. Sed id turpis massa. Suspendisse non cursus odio. Nullam non sagittis neque. Praesent sem mauris, varius id diam at, 
      hendrerit molestie risus. Sed blandit sed augue at pretium. Maecenas feugiat mauris a mauris lobortis, in efficitur turpis mattis. 
      Ut ac purus magna. Nam dignissim dignissim quam, consequat pretium enim sollicitudin non. 
      Aenean scelerisque sit amet sapien sit amet efficitur.</p>
    <p>Sed faucibus finibus hendrerit. Etiam facilisis justo id nisi viverra, sed maximus sem commodo. Donec aliquam arcu vel tellus placerat, 
      eu ullamcorper tellus lacinia. Curabitur finibus, nunc sit amet sodales molestie, justo orci tempus velit, sed commodo massa tortor nec massa. 
      Morbi aliquet molestie ex. Vestibulum tortor arcu, porta ac luctus at, egestas vitae augue. Nulla eu aliquet tellus. 
      Mauris eleifend rutrum dui, at facilisis tellus suscipit eget. Maecenas vehicula dignissim turpis eu mollis. 
      Integer efficitur venenatis placerat.</p>
</body>

</html>