<h2>Color Selection</h2>

<h3>Add New Color</h3>
<form [formGroup]="addForm" (ngSubmit)="addColor()">
    <label for="name">Name: </label>
    <input id="name" formControlName="name" />

    <label for="hexvalue">Hex Code: </label>
    <input id="hexvalue" formControlName="hexvalue" />

    <button type="submit">Add Color</button>
</form>

<h3>Edit Existing Color</h3>
<form [formGroup]="editForm" (ngSubmit)="editColor()">
    <label for="name">Select Color: </label>
    <select id="name" formControlName="name" required>
        <option *ngFor="let color of colors" [value]="color.name">
            {{ color.name }} ({{ color.hexvalue }})
        </option>
    </select>

    <label for="editName">New Name: </label>
    <input id="editName" formControlName="editName" required placeholder="New name" />

    <label for="editHexValue">New Hex Code: </label>
    <input id="editHexValue" formControlName="editHexValue" required placeholder="#NewHex" />

    <button type="submit">Update Color</button>
</form>

<h3>Delete Color</h3>
<form [formGroup]="deleteForm" (ngSubmit)="deleteColor()">
    <label for="name">Select Color to Delete: </label>
    <select id="name" formControlName="name" required>
        <option *ngFor="let color of colors" [value]="color.name">
            {{ color.name }} ({{ color.hexvalue }})
        </option>
    </select>

    <button type="submit">Delete Color</button>
</form>