<!doctype html>
<html lang="en">
<body>

  <h1> About Our Members</h1>

  <div class="profile-box">
    <img src="Fabian.png" alt="dino avatar" width="100" height="100">
    <div>
      <h3>Fabian Zaldivar</h3>
      <p> I am a Computer Science student looking to find a career in Software Development or Education.</p>
    </div>
  </div>
  <hr>

  <div class="profile-box">
    <img src="Brian.png" alt="Brian's avatar" width="100" height="100">
    <div><h3>Brian Wellette</h3>
      <h5>Castle Rock, CO</h5>
      <p>I am the General Manager at a facility management company and have returned to school to pursue my computer science degree. I aspire to obtain my master’s degree in computer science at CSU, focusing on AI or blockchain technology. While I have many achievements in my professional career, my highest accomplishment is my loving wife and beautiful children, who made it all possible with their support.</p>
    </div>
  </div>
  <hr>

</body>
</html>