<!doctype html>
<html lang="en">
<body>

  <h1> About Our Members</h1>

  <div class="profile-box">
    <img src="Fabian.png" alt="dino avatar" width="100" height="100">
    <div>
      <h3>Fabian Zaldivar</h3>
      <p> I am a Computer Science student looking to find a career in Software Development or Education.</p>
    </div>
  </div>
  

  <div class="profile-box">
    <img src="Brian.png" alt="Brian's avatar" width="100" height="100">
    <div><h3>Brian Wellette</h3>
      <h5>Castle Rock, CO</h5>
      <p>I am the General Manager at a facility management company and have returned to school to pursue my computer science degree. I aspire to obtain my master’s degree in computer science at CSU, focusing on AI or blockchain technology. While I have many achievements in my professional career, my highest accomplishment is my loving wife and beautiful children, who made it all possible with their support.</p>
    </div>
  </div>
  
  <div class="profile-box">
   <img src="Anthony.png" alt="Anthony's avatar" width="100" height="100">
    <div><h3>Anthony Juvera</h3>
      <h5>Westminster, Co</h5>
      <p>I am working on my Human-Centered Computing degree in hopes that I will be able to find a job in user experience (UX) research. My ambition is to be in a postion to    develop technology that help bridge any gaps between humans and technology. I am paralyzed below my ribs so accessibility has become a key aspect of my life and I wish to make life easier for other people in areas that I can.</p>
    </div>
  </div>

  <div class="profile-box">
    <img src="Brad.png" alt="Brad's avatar" width="100" height="100">
     <div><h3>Brad Rosenberg</h3>
       <h5>Colorado Springs, CO</h5>
       <p>I am a student at Colorado State University finishing up his bachelor's degree in computer science. I hope to graduate this winter and one day apply my knowledge in the field of finance.</p>
     </div>
   </div>

</body>
</html>